[submodule "snip20"] # generic snip20 token
  update = rebase
  path   = contracts/snip20
  url    = https://github.com/hackbg/snip20-reference-impl
  branch = 21.04
[submodule "snip20-sienna"] # token with deposit/redeem disabled for SIENNA TGE
  update = rebase
  path   = contracts/snip20-sienna
  url    = git@github.com:hackbg/snip20-reference-impl.git
  branch = 21.04+nodeposit+noredeem

[submodule "fadroma-21.04"]
  update = rebase
  path   = rewards/libraries/fadroma
  url    = git@github.com:hackbg/fadroma.git
  branch = 21.04
[submodule "fadroma-21.05"]
  update = rebase
  path   = tge/libraries/fadroma
  url    = git@github.com:hackbg/fadroma.git
  branch = 21.05
[submodule "fadroma-21.06"]
  update = rebase
  path   = tge-rewards/libraries/fadroma
  url    = git@github.com:hackbg/fadroma.git
  branch = 21.06
[submodule "fadroma-21.06.1"]
  update = rebase
  path   = swap/libraries/fadroma
  url    = git@github.com:hackbg/fadroma.git
  branch = 21.06.1

[submodule "tge/kukumba"]
  update = rebase
  path   = tge/libraries/kukumba
  url    = git@github.com:hackbg/kukumba.git
  branch = 21.04
[submodule "tge-rewards/kukumba"]
  update = rebase
  path   = tge-rewards/libraries/kukumba
  url    = git@github.com:hackbg/kukumba.git
  branch = 21.04

[submodule "tge/platform"]
  update = rebase
  path   = tge/platform
  url    = git@github.com:hackbg/SecretNetwork.git
  branch = 21.03
[submodule "tge-rewards/platform"]
  update = rebase
  path   = tge-rewards/platform
  url    = git@github.com:hackbg/SecretNetwork.git
  branch = 21.03
