# Read-only public deps
[submodule "deps/fadroma"] # Contract and deployment framework
  path   = deps/fadroma
  url    = https://github.com/hackbg/fadroma.git
  branch = v100
[submodule "deps/ganesha"]
	path   = deps/ganesha
	url    = https://github.com/hackbg/ganesha.git
[submodule "kukumba"] # BDD test helper
  update = rebase
  path   = libraries/kukumba
  url    = https://github.com/hackbg/kukumba.git
  branch = 21.04
