# Binaries
target
*.wat
*.wasm
*.wasm.gz
*.profraw

# State
.env
.fadroma

# Node
node_modules
yarn-error.log
yarn.lock
.pnpm-debug.log

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups and locks
**/*.rs.bk
.~*

# macOS
.DS_Store

# IDEs
*.iml
.idea

.fadroma_repl_history

# Yarn
# !!! using Yarn 2 with node_modules support for now
# !!! make sure .yarnrc.yml contains nodeLinker: node-modules
#.yarn
.yarn/*
#!.yarn/patches
!.yarn/releases
#!.yarn/plugins
#!.yarn/sdks
#!.yarn/versions
#.pnp.*

artifacts/enigma-pub-testnet-3/*
artifacts/supernova-1-localnet/*
receipts/enigma-pub-testnet-3/*
receipts/supernova-1/*
receipts/fadroma-scrt-*/*
