# Binaries
target
*.wat
*.wasm
*.wasm.gz
*.profraw

# State
.env
.fadroma

# Node
node_modules
yarn-error.log

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups and locks
**/*.rs.bk
.~*

# macOS
.DS_Store

# IDEs
*.iml
.idea

.fadroma_repl_history
.yarn
