* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
}

html, body {
  height:  100%;
  margin:  0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #282828;
  color:      #ebdbb2;
  display:    grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%
}

@media (orientation: landscape) {}
@media (orientation: portrait) {}

h1 {
  font-weight: bold;
  margin: 0;
}
h2 {
  font-weight: normal;
  text-align: right;
  margin-bottom: 1rem;
}

.pie, .history {
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 100%;*/
}

.pie {
  text-align: left;
  grid-column-start: 1;
  grid-column-end:   3;
}
.pie.stacked {
  grid-column-start: 3;
  grid-column-end:   5;
}
  .pie h1 {
    margin: 1em 1em 0 1em;
  }
  .pie canvas {
  }

table {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  background: #32302f;
  border-collapse: collapse;
}

td {
  padding: 0.25rem;
  text-align: center;
}
thead {
  background: #504945;
}
th {
  padding: 0.5rem;
}

.history {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  padding: 1em;
  background: #3c3836;
  overflow: auto;
}

h1, h2, ol {
  padding: 0 0.5em;
}

/*.sparkline {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*height: 20vh;*/
/*}*/
